/* CSS Reset-------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/*
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar--------------------------- */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

/* Navigation Bar: Logo And Image------------ */
#logo{
    margin: 10px 34px; 
}

#logo img{
    height: 59px;
    margin: 3px 5px;
}

/* Navigation Bar: Navigation Bar------------ */

#navbar::before{
    content: '';
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul{
    display: flex;
    font-family: 'Lato', sans-serif;
    user-select: none;
}

#navbar ul li{
    list-style-type: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 530px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: '';
    background: rgba(0, 0, 0, 0.3) url(../images/bg.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

/* Services Section */

#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 20px;
    border-radius: 23px;
    background-color: #f4f3f2;
    margin-bottom: 20px;
}

#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}

#services .box p{
    font-family: 'Open Sans', sans-serif;
}

/* Client-section */
#client-section{
    height: 344px;
    position: relative;
}

#client-section::before{
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.3) url('../images/bg1.jpg');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img{
    height: 124px;
}

.client-item{
    padding: 15px;
}

/* Contact Section */
#contact{
    position: relative;
}

#contact::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../images/contact.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#contact-box input, textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 7px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3 rem;
    font-family: 'Open Sans', sans-serif;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
    /* font-weight: 100; */
}
/* Utility classes */
.h-primary{
    font-family: 'Open Sans', sans-serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-primary{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #3A2524;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover{
    background-color: #3e3534; 
}

.center{
    text-align: center;
}



